    .container_titre{
        //background-color:white;
        color:#070712;
        text-align: center;
        height:20%;
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: $butler;
        z-index:200;
        h1{
            font-size: 28px;
        }
    }


    .liste{
        background-color:#070712;
        color:white;
        min-height:100vh;
        height:auto;
        font-family: $font-family-sans-serif;
        font-size:25px;
        padding-left:40px;
        padding-top:40px;
        display:flex;
        flex-direction: column;
        a{
            color:white;
            font-family: $font-family-sans-serif;
            padding-top:10px;
        }

        a:hover{
            color:lightgray;
            text-decoration:none;
        }
    }

