.navbar {
    background: #fff;
    border: none;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    top: 0;
    .hidden{
        display:none!important;
    }
    .transition{
        transition: all fade-in 2s;
    }
}

.navbar-brand {
    padding: 10px 15px;
}

.button-search {
    background: none; border: none;
    display: flex;
    align-items: center;

    input {
        border: none;
        text-align: center;
    }
}
.navbar-header, .nav {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    img {
        max-height: 100%;
    }
}

@media (max-width: 768px){

    .navbar{
        display:flex;
        flex-direction:column;
        height:auto;
        .container{
            margin-left:60px;
            width:100%;
            .navbar-header{
                .navbar-toggle{
                    float:left;
                    background-color:white;
                }
                .boutonactif{
                    background-color:#ddd!important;
                }
                .boutoninactif{
                    background-color:#ddd!important;
                }
            }

        .nav{
            display:flex;
            flex-direction:column;
            font-size:22px;
            .navbar-brand{
                display:none;
            }
            form{
                display:none;

            }
            }
        }

    }

}