@font-face {
    font-family: Butler;
    src: url('/fonts/BUTLER_BOLD.OTF');
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: $body-bg;
    margin-top: $height-nav;
    #app{
        min-height: 80vh;
    }
}

.h2 {
    color: white;
    font-family: $butler;
    font-size: 40px;
    margin-top: 0;
}

.h2black {
    color: $dark-blue;
    font-family: $butler;
    font-size: 40px;
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.displayNone {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    color: white;
}

.tag {
    color: $grey-txt;
    text-transform: uppercase;
    margin-bottom: 5px;
}