
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// layouts
@import "general/general";
@import "layout/nav";
@import "layout/footer";

// Pages
@import "pages/homepage";

